/wk1-W1E*
/wk3-W3E*
/wk4-W4E*
/wk5-W5E*

/wk6-W6E01.CookieAuth/target/
/wk6-W6E02.Calculations/target/
/wk6-W6E03.LowestPrice/target/
/wk6-W6E04.WeatherService/target/
/wk6-W6E05.ImageService/target/
/wk6-W6E06.Chat2010/target/